<(set-email-subject! "Reset password--coinexc.com")>
<html>
<head>
</head>
<body style="background-color:#ececec">
<table cellpadding="0" cellspacing="0" border="0" width="650" align="center" style="color:#4b4b4b;padding:0px;background-color:#fff">
    <tr>
        <td style="background-color:#3c6f9f;height:70px;font-size:14px;">
		  <!--<img src="<(absolute-url "/public/images/auth/email-bg.png")>">-->
        </td>
    </tr>
    <tr>
        <td>
            <div style="padding:20px 30px;">
                <strong>Hello <(:email data)></strong>：<br/> <br/>


               Welcome to http://www.coinexc.com/！

                Please click follow link：<br/>

                <div style="text-align:center">
                    <a href="<(absolute-url "reset-password-validate-email" (select-keys data [:email :code]))>"
                       style="padding:5px 0 0 0;display:block;width:224px;height:24px;border:1px solid #20486c;background-color:#3c6f9f;color:#fff;text-decoration:none;margin:25px auto;">Rest password</a>
                </div>

                <div>

                   or copy follow link url to your web browse address field
                </div>


                <br/><br/>
                <a href="<(absolute-url "reset-password-validate-email" (select-keys data [:email :code]))>" style="color:#3c6f9f;"><(absolute-url "reset-password-validate-email" (select-keys data [:email :code]))></a>
                <br/><br/><br/>

                <div style="padding:0 0 0 0px;color:#999;font-size:12px;">
                    This email is automatic send，please do not reply。
                </div>

                <div style="text-align:right;list-style:none;padding:0;color:#999;font-size:14px;">coinexc.com&nbsp;</div>
                <div style="text-align:right;list-style:none;padding:0;color:#999;font-size:14px;"><(datetime-format (now))></div>


                <ul style="list-style:none;padding:0;color:#999;font-size:14px;">
                    <li>Email：<a href="mailto:service@coinexc.com" style="color:#3c6f9f;">service@coinexc.com</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        Tel：086+13161984009 &nbsp;&nbsp;&nbsp;&nbsp; Website：<a href="http://www.coinexc.com" style="color:#3c6f9f;">
                            www.coinexc.com</a>
                    </li>

                </ul>

            </div>

        </td>
    </tr>
</table>

</body>
</html>
