@charset "UTF-8";
@import url(/bower_components/pure/pure.css);
/* line 2, ../sass/base.scss */
body {
  background-color: #CCCCCC;
}

/* line 5, ../sass/base.scss */
a {
  text-decoration: none;
}

/* line 9, ../sass/base.scss */
.round {
  -moz-border-radius: 5px;
  /* Gecko browsers */
  -webkit-border-radius: 5px;
  /* Webkit browsers */
  border-radius: 5px;
  /* W3C syntax */
}

/* line 14, ../sass/base.scss */
.foot {
  color: #757575;
}
/* line 16, ../sass/base.scss */
.foot .contact {
  font-weight: bold;
  color: #8b0523;
}

/* line 21, ../sass/base.scss */
.left {
  float: left;
}

/* line 25, ../sass/base.scss */
.right {
  float: right;
}

/* line 28, ../sass/base.scss */
.text-center {
  text-align: center;
}

/* line 31, ../sass/base.scss */
.bg-black {
  background-color: #313333;
}

/* line 35, ../sass/base.scss */
.top-bg-height {
  height: 104px;
}

/* line 38, ../sass/base.scss */
.center {
  margin: 0 auto 0 auto;
  text-align: center;
  width: 960px;
}

/* line 43, ../sass/base.scss */
.red {
  color: red;
}

/* line 46, ../sass/base.scss */
.white {
  color: white;
}

/* line 50, ../sass/base.scss */
.current-red {
  background-color: #CCCCCC;
  color: #c72153;
}

/* line 54, ../sass/base.scss */
.button-success {
  background: #7e9e2b;
  /* this is a green */
  color: white;
}

/* line 59, ../sass/base.scss */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

/* line 65, ../sass/base.scss */
.none {
  display: none;
}

/* line 68, ../sass/base.scss */
.hide {
  display: none;
}

/* line 71, ../sass/base.scss */
.right {
  float: right;
}

/* line 75, ../sass/base.scss */
.clear-both {
  clear: both;
}

/* line 78, ../sass/base.scss */
.w-100 {
  width: 100%;
}

/* Alert */
/* line 83, ../sass/base.scss */
#alert {
  position: relative;
}

/* line 86, ../sass/base.scss */
#alert:hover:after {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  color: #f6f6f6;
  content: '点击消失';
  font: bold 12px/30px sans-serif;
  height: 30px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 120px;
}

/* line 100, ../sass/base.scss */
#alert:hover:before {
  border-bottom: 10px solid rgba(0, 0, 0, 0.8);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 40px;
  width: 0;
}

/* line 112, ../sass/base.scss */
#alert:target {
  display: none;
}

/* line 115, ../sass/base.scss */
.alert {
  background-color: #c4453c;
  background-image: -webkit-linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 20px 20px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
  display: block;
  font: bold 16px/40px sans-serif;
  height: 40px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: -45px;
  width: 100%;
  -webkit-animation: alert 1s ease forwards;
  -moz-animation: alert 1s ease forwards;
  -ms-animation: alert 1s ease forwards;
  -o-animation: alert 1s ease forwards;
  animation: alert 1s ease forwards;
}

/* line 159, ../sass/base.scss */
.tips {
  background-color: lightseagreen;
  background-image: -webkit-linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 20px 20px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
  display: block;
  font: bold 16px/40px sans-serif;
  height: 40px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: -45px;
  width: 100%;
  -webkit-animation: alert 1s ease forwards;
  -moz-animation: alert 1s ease forwards;
  -ms-animation: alert 1s ease forwards;
  -o-animation: alert 1s ease forwards;
  animation: alert 1s ease forwards;
}

/* Animation */
@-webkit-keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
@keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
/* line 232, ../sass/base.scss */
.content {
  background-color: #cccccc;
  width: 89.99%;
}

/* line 236, ../sass/base.scss */
.menu {
  width: 10%;
  background-color: #f4f9e0;
}
/* line 239, ../sass/base.scss */
.menu ul {
  padding: 0;
  margin: 0;
}
/* line 242, ../sass/base.scss */
.menu ul .current {
  background-color: #d31a57;
}
/* line 245, ../sass/base.scss */
.menu ul .not-current {
  background-color: #f4f9e0;
}
/* line 248, ../sass/base.scss */
.menu ul .not-current img {
  margin: 30px 0 10px 0;
}
/* line 252, ../sass/base.scss */
.menu ul li {
  border-bottom: solid 1px #e5e3ce;
  text-align: center;
  list-style-type: none;
}

/* line 259, ../sass/base.scss */
.logo-wrap {
  margin: 40px 0 0 25px;
}

/* line 263, ../sass/base.scss */
.logo {
  margin-top: 25px;
}

/* line 268, ../sass/base.scss */
.content-wrap {
  padding: 5px 50px 0 50px;
}

/* line 271, ../sass/base.scss */
.user-info {
  margin: 15px 25px 0 0;
}
/* line 273, ../sass/base.scss */
.user-info span {
  color: white;
}
/* line 276, ../sass/base.scss */
.user-info .quit {
  position: relative;
  padding-top: -10px;
  top: 6px;
}
/* line 281, ../sass/base.scss */
.user-info .user-name {
  margin-left: 5px;
  color: #4c592c;
}

/* line 287, ../sass/base.scss */
.custom-tips {
  margin: 20px;
  font-size: 12px;
}

/* line 291, ../sass/base.scss */
.bg-white {
  background-color: white;
}

/* line 295, ../sass/base.scss */
.margin-top-30 {
  margin-top: 30px;
}

/* line 300, ../sass/base.scss */
.content-wrap .title {
  margin: 10px 0  20px 130px;
  color: #bf4c6e;
  font-size: 18px;
}

/* line 307, ../sass/base.scss */
textarea:focus, input:focus {
  outline: 0;
}

/* line 311, ../sass/base.scss */
.pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  background-color: #ccc;
}

/* line 315, ../sass/base.scss */
.header .search {
  position: relative;
  bottom: 24px;
  right: 34px;
  background: url("/img/search_container.png") no-repeat;
  color: white;
}
/* line 321, ../sass/base.scss */
.header .search input[type="text"] {
  background: transparent;
  border: 0;
  width: 112px;
  height: 25px;
}

/* line 5, ../sass/crm.scss */
.logo {
  margin-left: 5%;
}
