@import 'value';
body {
  background-color: #CCCCCC;
}
a {
  text-decoration: none;
}

.round {
  -moz-border-radius: 5px;      /* Gecko browsers */
  -webkit-border-radius: 5px;   /* Webkit browsers */
  border-radius:5px;            /* W3C syntax */
}
.foot {
  color: #757575;
  .contact {
    font-weight: bold;
    color: #8b0523;
  }
}

// page
.ui-paging-item {
  margin: 0 10px 0 10px;
  .ui-paging {
    margin: 20px;
  }
}
//end
.left {
  float:left;

}
.right {
  float:right;
}
.text-center {
  text-align: center;
}
.bg-black {
  background-color: #313333;

}
.top-bg-height {
  height: $top-height;
}
.center {
  margin: 0 auto 0 auto;
  text-align: center;
  width: $global-width;
}
.red {
  color: red;
}
.white {
  color: white;
}

.current-red {
  background-color: #CCCCCC;
  color: #c72153;
}
.button-success {
  background: #7e9e2b; /* this is a green */
  color: white;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.none {
  display:none;
}
.hide {
  display: none;
}
.right {
  float:right;

}
.clear-both {
  clear: both;;
}
.w-100 {
  width:100%;
}
/* Alert */

#alert {
  position: relative;
}
#alert:hover:after {
  background: hsla(0,0%,0%,.8);
  border-radius: 3px;
  color: #f6f6f6;
  content: '点击消失';
  font: bold 12px/30px sans-serif;
  height: 30px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 120px;
}
#alert:hover:before {
  border-bottom: 10px solid hsla(0,0%,0%,.8);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 40px;
  width: 0;
}
#alert:target {
  display: none;
}
.alert {
  background-color: #c4453c;
  background-image: -webkit-linear-gradient(135deg, transparent,
          transparent 25%, hsla(0,0%,0%,.05) 25%,
          hsla(0,0%,0%,.05) 50%, transparent 50%,
          transparent 75%, hsla(0,0%,0%,.05) 75%,
          hsla(0,0%,0%,.05));
  background-image: -moz-linear-gradient(135deg, transparent,
          transparent 25%, hsla(0,0%,0%,.1) 25%,
          hsla(0,0%,0%,.1) 50%, transparent 50%,
          transparent 75%, hsla(0,0%,0%,.1) 75%,
          hsla(0,0%,0%,.1));
  background-image: -ms-linear-gradient(135deg, transparent,
          transparent 25%, hsla(0,0%,0%,.1) 25%,
          hsla(0,0%,0%,.1) 50%, transparent 50%,
          transparent 75%, hsla(0,0%,0%,.1) 75%,
          hsla(0,0%,0%,.1));
  background-image: -o-linear-gradient(135deg, transparent,
          transparent 25%, hsla(0,0%,0%,.1) 25%,
          hsla(0,0%,0%,.1) 50%, transparent 50%,
          transparent 75%, hsla(0,0%,0%,.1) 75%,
          hsla(0,0%,0%,.1));
  background-image: linear-gradient(135deg, transparent,
          transparent 25%, hsla(0,0%,0%,.1) 25%,
          hsla(0,0%,0%,.1) 50%, transparent 50%,
          transparent 75%, hsla(0,0%,0%,.1) 75%,
          hsla(0,0%,0%,.1));
  background-size: 20px 20px;
  box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
  color: #f6f6f6;
  display: block;
  font: bold 16px/40px sans-serif;
  height: 40px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: -45px;
  width: 100%;
  -webkit-animation: alert 1s ease forwards;
  -moz-animation: alert 1s ease forwards;
  -ms-animation: alert 1s ease forwards;
  -o-animation: alert 1s ease forwards;
  animation: alert 1s ease forwards;
}
.tips {
  background-color: lightseagreen;
  background-image: -webkit-linear-gradient(135deg, transparent,
          transparent 25%, hsla(0,0%,0%,.05) 25%,
          hsla(0,0%,0%,.05) 50%, transparent 50%,
          transparent 75%, hsla(0,0%,0%,.05) 75%,
          hsla(0,0%,0%,.05));
  background-image: -moz-linear-gradient(135deg, transparent,
          transparent 25%, hsla(0,0%,0%,.1) 25%,
          hsla(0,0%,0%,.1) 50%, transparent 50%,
          transparent 75%, hsla(0,0%,0%,.1) 75%,
          hsla(0,0%,0%,.1));
  background-image: -ms-linear-gradient(135deg, transparent,
          transparent 25%, hsla(0,0%,0%,.1) 25%,
          hsla(0,0%,0%,.1) 50%, transparent 50%,
          transparent 75%, hsla(0,0%,0%,.1) 75%,
          hsla(0,0%,0%,.1));
  background-image: -o-linear-gradient(135deg, transparent,
          transparent 25%, hsla(0,0%,0%,.1) 25%,
          hsla(0,0%,0%,.1) 50%, transparent 50%,
          transparent 75%, hsla(0,0%,0%,.1) 75%,
          hsla(0,0%,0%,.1));
  background-image: linear-gradient(135deg, transparent,
          transparent 25%, hsla(0,0%,0%,.1) 25%,
          hsla(0,0%,0%,.1) 50%, transparent 50%,
          transparent 75%, hsla(0,0%,0%,.1) 75%,
          hsla(0,0%,0%,.1));
  background-size: 20px 20px;
  box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
  color: #f6f6f6;
  display: block;
  font: bold 16px/40px sans-serif;
  height: 40px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: -45px;
  width: 100%;
  -webkit-animation: alert 1s ease forwards;
  -moz-animation: alert 1s ease forwards;
  -ms-animation: alert 1s ease forwards;
  -o-animation: alert 1s ease forwards;
  animation: alert 1s ease forwards;
}
/* Animation */

@-webkit-keyframes alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { top: 0; }
}
@-moz-keyframes alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { top: 0; }
}
@-ms-keyframes alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { top: 0; }
}
@-o-keyframes alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { top: 0; }
}
@keyframes alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { top: 0; }
}


.content {
  background-color: #cccccc;
  width: 89.99%;
}
.menu {
  width:10%;
  background-color: #f4f9e0;
  ul {
    padding: 0;
    margin: 0;
    .current {
      background-color: #d31a57;
    }
    .not-current {

      background-color: #f4f9e0;
      img {
        margin: 30px 0 10px 0;
      }
    }
    li {
      border-bottom: solid 1px #e5e3ce;
      text-align: center;
      list-style-type: none;
    }
  }
}
.logo-wrap {
  margin:40px 0 0 25px;
}

.logo {

  margin-top: 25px;

}
.content-wrap {
  padding: 5px 50px 0 50px;
}
.user-info {
  margin: 15px 25px 0 0;
  span {
    color: white;
  }
  .quit {
    position: relative;
    padding-top: -10px;
    top: 6px;
  }
  .user-name {
    margin-left: 5px;
  color: #4c592c;

}
}
.custom-tips {
  margin: 20px;
  font-size: 12px;
}
.bg-white {
  background-color: white;
}

.margin-top-30 {
  margin-top: 30px;
}

.content-wrap {
  .title {
    margin: 10px 0  20px 130px;

    color: #bf4c6e;
    font-size: 18px;
  }
}
textarea:focus, input:focus{
  outline: 0;
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  background-color: #ccc;
}
.header  {
  .search{
    position: relative;
    bottom: 24px;
    right: 34px;
    background: url("/img/search_container.png") no-repeat;
    color: white;
    input[type="text"]
    {
      background: transparent;
      border: 0;
      width: 112px;
      height: 25px;;
    }
  }

}
//page
