<!doctype html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/img/fav.png" mce_href="/public/images/favicon_32.ico" rel="bookmark" type="image/x-icon" />
    <link href="/img/fav.png" mce_href="/public/images/favicon_32.ico" rel="icon" type="image/x-icon" />
    <link href="/img/fav.png" mce_href="/public/images/favicon_32.ico" rel="shortcut icon" type="image/x-icon" />

    {%block head%}
    {%endblock%}

</head>
<body>

{%block content%}
{%endblock%}
<(session/get! :company)>




<p class="credit">Copyright © 2017 , all rights reserved.</p>
</body>
</html>
<script type="text/javascript" src="//cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/dist/finace.js"></script>
<script>$(document).ready(function(){
    $('#adSearch').click(function(){
        $('#searchInContainer').removeClass('hide');
    })
});
</script>
{%block script%}

{%endblock%}