{% extends "base.html" %}
{%block content%}
<form class="ui-form" name="" method="post" action="/reg" id="">
    <fieldset>
        <legend>设置密码</legend>

        <div class="ui-form-item ui-form-item-error">
            <label for="" class="ui-label"><span class="ui-form-required">*</span>密码</label>
            <input class="ui-input ui-input-large" type="password"> <span class="ui-form-other"><a href="#"></a></span>
            <p class="ui-form-explain ui-tiptext ui-tiptext-error">
                <i class="ui-tiptext-icon iconfont" title="出错">&#xF045;</i>
                帐号密码不匹配！
            </p>
        </div>
        <div class="ui-form-item">
            <input type="submit" class="ui-button ui-button-morange" value="确定">
            <input type="button" class="ui-button ui-button-mwhite" value="取消">
        </div>
    </fieldset>
</form>
{%endblock%}