{% extends "base.html" %}
{%block content%}
<form class="pure-form pure-form-stacked center bottom-290" action="/reset-password" method="post">
    <fieldset class='>'>
        <legend>Reset password!

        </legend>

        <label for="password" >New Password</label>
        <input name="password" id="password" type="password" placeholder="Password">
        <input  name="username" type="hidden">
        <input type="hidden" name="code"  value="<(:code params)>">
        <input type="hidden" name="email" value="<(:email params)>">
        <div class='alert alert-danger <(get params :alert "hide")>'>
            <(get params :alert "")>
        </div>
        <button type="submit" class="pure-button pure-button-primary">Submit</button>


    </fieldset>


</form>
{%endblock%}