{% extends "base.html" %}
{%block content%}
<div class="content-wrap">
    <div class="bg-white round margin-top-30">
<form class="pure-form pure-form-aligned clearfix form" method="post" action="/users/edit">
    <fieldset  class="">


        <div class="title">
            <(if (and (:id data) (not= "" (:id data))) "修改" "添加" )>招生老师

            <input type="hidden" name="id" value='<(:id data)><(get-in data [:params  :id])>'>
        </div>

        <div class="pure-control-group">
            <label for="name" class="ui-label">
                <span class="ui-form-required">*</span>姓名
            </label>
            <input class="ui-input" id="name" name="name" value='<(:name data )><(get-in data [:params  :name])>' type="text">

        </div>


        <div class="pure-control-group ">
            <label for="phone" class="ui-label"> <span class="ui-form-required">*</span>电话</label>
            <input class="ui-input ui-input-large" id="phone" name="phone"  value='<(:phone data)><(get-in data [:params  :phone])>' type="text">

        </div>

        <div class="pure-control-group ">
            <label for="email" class="ui-label"> <span class="ui-form-required">*</span>邮箱</label>
            <input class="ui-input ui-input-large" id="email" name="email"   value='<(:email data )><(get-in data [:params  :email])>' type="text">

        </div>
        <(if-not (and (:id data) (not= "" (:id data)))">
        <div class="pure-control-group ">
            <label for="password" class="ui-label"> <span class="ui-form-required">*</span>密码</label>
            <input class="ui-input ui-input-large" id="password" name="password" type="password"   value='<(get-in data [:params  :password])>' type="text">

        </div>
        <")>






        <div class="pure-controls left clear clear-both">

            <a href="javascript:void(0)" class="submit">
                <img src="/img/confirm.png">

            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/users">
                <img src="/img/cancel.png">
            </a>
        </div>
    </fieldset>
</form>
</div>
</div>
{%endblock%}
{%block script%}
<script src="/js/user.bundle.js"></script>
{%endblock%}
