{% extends "base.html" %}
{%block content%}
<div class="content-wrap">
    <div class="bg-white round margin-top-30">
<form class="pure-form pure-form-aligned clearfix form" method="post" action="/users/edit">
    <fieldset  class="">


        <div class="title">
            <(if (:id data) "修改" "添加" )>招生老师

            <input type="hidden" name="id" value="<(:id data)>">
        </div>

        <div class="pure-control-group">
            <label for="" class="ui-label">
                <span class="ui-form-required">*</span>姓名
            </label>
            <input class="ui-input" name="name" value='<(:name data )>' type="text">

        </div>


        <div class="pure-control-group ">
            <label for="" class="ui-label"> <span class="ui-form-required">*</span>电话</label>
            <input class="ui-input ui-input-large" name="phone"  value='<(:phone data)>' type="text">

        </div>

        <div class="pure-control-group ">
            <label for="" class="ui-label"> <span class="ui-form-required">*</span>邮箱</label>
            <input class="ui-input ui-input-large" name="email"   value='<(:email data )>' type="text">

        </div>
        <(if-not (:id data) ">
        <div class="pure-control-group ">
            <label for="" class="ui-label"> <span class="ui-form-required">*</span>密码</label>
            <input class="ui-input ui-input-large" name="password" type="password"   value='' type="text">

        </div>
        <")>






        <div class="pure-controls left clear clear-both">

            <a href="javascript:void(0)" class="submit">
                <img src="/img/confirm.png">

            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/users">
                <img src="/img/cancel.png">
            </a>
        </div>
    </fieldset>
</form>
</div>
</div>
{%endblock%}
{%block script%}

{%endblock%}
